<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="JPW5ae4f7JVmpgaLInxZdRT1c7RoaBMRFdYnCIZRUbA" />
        <meta charset="utf-8" />
        <title>{{page.title}}</title>
        <link rel="shortcut icon" type="image/png"  href="/favicon.png" />
    </head>
    <body>
        {{ content }}
    </body>
</html>
